<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SystemPath" value=".."/>
    <add key="SubSystem" value="coreserver"/>
    <add key="AllowPublish" value="true"/>
    <add key="PublishAddress" value="http://192.168.8.23:54321/package"/>
    <add key="AllowUI" value="true"/>
    <add key="LinkUrl" value="http://www.ftf.com"/>
  </appSettings>
</configuration>
