<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-7/supersocket.xsd">
    <servers>
      <server name="MonitorServer" serverTypeName="MonitorServer" ip="Any" port="5271">
      </server>
    </servers>
    <serverTypes>
      <add name="MonitorServer" type="AU.Monitor.Server.MonitorServer, AU.Monitor.Server" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SocketServer" value="192.168.8.23:5275"/>
    <add key="SystemPath" value=".." />
    <add key="SubSystem" value="coreserver" />
    <add key="AllowPublish" value="true" />
    <add key="PublishAddress" value="http://192.168.8.23:54321/" />
    <add key="AllowUI" value="true" />
    <add key="LinkUrl" value="http://www.ftf.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
