<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
    <add name="Au" connectionString="Data Source=.; database=Audb; Integrated Security=False;uid=sa; pwd=ftfftf;AttachDBFilename=|DataDirectory|\Audb.mdf;" providerName="System.Data.SqlClient"/>
</connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=127.0.0.1; Initial Catalog=Audb; Integrated Security=false;User ID=sa; Password=ftfftf; Connect Timeout=120; MultipleActiveResultSets=True;"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Repository"/>
    <assembly name="Domain"/>
    <namespace name="Domain.Repositories"/>
    <namespace name="Repository.EntityFramework"/>
    <namespace name="Infrastructure.Caching"/>
    <namespace name="Infrastructure.UnityExtensions"/>

    <alias alias="IRepositoryContext" type="Domain.Repositories.IRepositoryContext, Domain.Repositories"/>
    <alias alias="EntityFrameworkRepositoryContext" type="Repository.EntityFramework.EntityFrameworkRepositoryContext, Repository.EntityFramework"/>
    <alias alias="ICacheProvider" type="Infrastructure.Caching.ICacheProvider, Infrastructure"/>
    <alias alias="EntLibCacheProvider" type="Infrastructure.Caching.EntLibCacheProvider, Infrastructure.Caching"/>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container>
      <extension type="Interception"/>
      <!--Cache Provider-->
      <register type="ICacheProvider" mapTo="EntLibCacheProvider" />
      <!--Repository Context & Repositories-->

      <!--Entity Framework-->
      <register type="IRepositoryContext" mapTo="EntityFrameworkRepositoryContext"/>
      <!--Domain Services-->
      <!--<register type="Domain.Services.IDomainService, Domain.Services" mapTo="Domain.Services.DomainService, Domain.Services"/>-->
      <!--Domain Event Handlers-->
      <!--Event Aggregator-->
      <register type="Events.IEventAggregator, Events" mapTo="Events.EventAggregator, Events"/>
      <!--Event Bus-->
      <register type="Events.Bus.IEventBus, Events" mapTo="Events.Bus.EventBus, Events">
        <lifetime type="Infrastructure.UnityExtensions.UnityOperationContextLifetimeManager, Infrastructure" />
      </register>
      <!--<register type="Events.Bus.IEventBus, Events"
                mapTo="Events.Bus.MSMQEventBus, Events">
        <lifetime type="Infrastructure.UnityExtensions.UnityOperationContextLifetimeManager, Infrastructure" />
        <constructor>
          <param name="path" value=".\private$\" />
        </constructor>
      </register>-->
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
