<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UpdatePort" value="52706" />
    <add key="VirtualPath" value="package" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="webPages:Enabled" value="false" /></appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-7/supersocket.xsd">
    <servers>
      <server name="MonitorServer" serverTypeName="MonitorServer" ip="Any" port="52705" textEncoding="utf-8" receiveBufferSize="10240" maxConnectionNumber="10000" sendBufferSize="10240" maxRequestLength="10240">
      </server>
    </servers>
    <serverTypes>
      <add name="MonitorServer" type="AU.Monitor.Server.MonitorServer, AU.Monitor.Server" />
    </serverTypes>
  </superSocket>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>