<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
    <add key="UpdatePort" value="52706" />
    <add key="VirtualPath" value="package" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-7/supersocket.xsd">
    <servers>
      <server name="MonitorServer" serverTypeName="MonitorServer" ip="Any" port="52705" textEncoding="utf-8" receiveBufferSize="10240" maxConnectionNumber="10000" sendBufferSize="10240" maxRequestLength="10240"></server>
    </servers>
    <serverTypes>
      <add name="MonitorServer" type="AU.Monitor.Server.MonitorServer, AU.Monitor.Server" />
    </serverTypes>
  </superSocket>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>       
    </assemblies>
    <namespaces>
    </namespaces>
  </razor>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=192.168.8.23; Initial Catalog=Audb; Integrated Security=false;User ID=sa; Password=ftfftf; Connect Timeout=120; MultipleActiveResultSets=True;"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Repository"/>
    <assembly name="Domain"/>
    <namespace name="Domain.Repositories"/>
    <namespace name="Repository.EntityFramework"/>
    <namespace name="Infrastructure.Caching"/>
    <namespace name="Infrastructure.UnityExtensions"/>

    <alias alias="IRepositoryContext" type="Domain.Repositories.IRepositoryContext, Domain.Repositories"/>
    <alias alias="EntityFrameworkRepositoryContext" type="Repository.EntityFramework.EntityFrameworkRepositoryContext, Repository.EntityFramework"/>
    <alias alias="ICacheProvider" type="Infrastructure.Caching.ICacheProvider, Infrastructure"/>
    <alias alias="EntLibCacheProvider" type="Infrastructure.Caching.EntLibCacheProvider, Infrastructure.Caching"/>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container>
      <extension type="Interception"/>
      <!--Cache Provider-->
      <register type="ICacheProvider" mapTo="EntLibCacheProvider" />
      <!--Repository Context & Repositories-->

      <!--Entity Framework-->
      <register type="IRepositoryContext" mapTo="EntityFrameworkRepositoryContext"/>
      <!--Domain Services-->
      <!--<register type="Domain.Services.IDomainService, Domain.Services" mapTo="Domain.Services.DomainService, Domain.Services"/>-->
      <!--Domain Event Handlers-->
      <!--Event Aggregator-->
      <register type="Events.IEventAggregator, Events" mapTo="Events.EventAggregator, Events"/>
      <!--Event Bus-->
      <register type="Events.Bus.IEventBus, Events" mapTo="Events.Bus.EventBus, Events">
        <lifetime type="Infrastructure.UnityExtensions.UnityOperationContextLifetimeManager, Infrastructure" />
      </register>
      <!--<register type="Events.Bus.IEventBus, Events"
                mapTo="Events.Bus.MSMQEventBus, Events">
        <lifetime type="Infrastructure.UnityExtensions.UnityOperationContextLifetimeManager, Infrastructure" />
        <constructor>
          <param name="path" value=".\private$\" />
        </constructor>
      </register>-->
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>