<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Nancy" version="1.4.3" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net20" requireReinstallation="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net20" />
  <package id="SuperSocket" version="1.6.6.1" targetFramework="net40" />
  <package id="SuperSocket.Engine" version="1.6.6.1" targetFramework="net40" />
</packages>